body {
    background-color: #1C1C1E;
}

*{
    font-family: 'Lucida Grande', Arial, sans-serif;
}

a{
    display: inline-block;
}

.container {
    width: 1300px;
    height: 880px;
    padding: 24px 24px;
    margin: auto;
    border-radius: 50px;
    border-style: none;
    background-color: #242426;
    border: 1px solid white;
}


.leftDiv {
    padding: 2px 2px;
    width: 1290px;
    height: 873px;
    border-radius: 25px;
}

.divHolder{
    display: flex;
}

.leftDiv :nth-child(1) {
    text-align: center;
}

.tableContainer{
    margin: 0 auto ;
    width: 1200px;
    background-color: #3A3A3C;
    height: 700px;
    overflow: scroll;
}

td, th{
    border: 1px solid;
    color: #FAFAFA;
}

table{
    table-layout: fixed;
    width: 1200px;
    border-collapse: collapse;
}

th{
    font-size: 60px;
}

td{
    height: 20px;
    font-size: 30px;
    overflow-wrap: break-word;
}

#folder{
    width: 700px;
    text-overflow: ellipsis;
}

.utility{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
}

button{
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
}

.signOut{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid white;
}

#greet{
    font-size: 40px;
    margin: 10px auto 5px;
    color: #FAFAFA;
}

table th:nth-child(1){
    width: 70%;
}

table th:nth-child(2){
    width: 15%;
}

table th:nth-child(3){
    width: 20%;
}




.navigateButton{
    height: 50px;
    width: 150px;
    background-color: #20abbc;
    border-style: none;
    border-radius: 5px;
    color: #FAFAFA;
    font-size: 24px;
}

.deleteButton{
    height: 40px;
    width: 120px;
    background-color: #FF6769;
    border-style: none;
    border-radius: 5px;
    color: #FAFAFA;
    font-size: 16px;
}

#submit_new{
    width: 150px;
    height: 40px;
    background-color: #61b538;
    border-style: none;
    border-radius: 5px;
    color: #f2f2f2;
}

.navigateButton:hover{
    background-color: #2adeea;
}

.deleteButton:hover{
    background-color: #fd9496;
}

.signOut{
    background-color: #ff464a;
    border-style: none;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    color: white;
}

a{
    text-decoration: none;
}

.signOut:hover{
    background-color: #ff666a;
}

#submit_new:hover{
    background-color: #7abc57;
}

